<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body style="background-color: aliceblue;">
        <h1 style="text-align: center;">Hello from the group 7! This is our Docker + Jenkins + Terraform pipeline!</h1>
        <div>
            <p>
                This project is to showcase the integration between Docker, Jenkins, and our new technology Terraform Pipelines! 
                We are able to monitor any changes with Jenkins, use Docker to showcase the website/app and use Terraform to initialize and showcase the app.
            </p>
        </div>
    </body>
</html>