<!DOCTYPE html>
<html>
    <head>
        <title>GBA6270-Final</title>
        <link rel="icon" type="image/x-icon" href="https://imgs.search.brave.com/jLkEgoAiQMEorA8Y7tE9Mu3mFWGXd7v9HwstbZWV7UU/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG4t/aWNvbnMtcG5nLmZy/ZWVwaWsuY29tLzI1/Ni85MDM3LzkwMzcy/MjIucG5nP3NlbXQ9/YWlzX3doaXRlX2xh/YmVs">
    </head>
    <body style="background-color: rgb(218, 235, 250);">
        <h1 style="text-align: center; color:rgb(7, 7, 71) ; font-size: 100; text-shadow: 2px 2px rgb(196, 190, 190);">Hello from Group 7! This is our Docker + Jenkins + Terraform pipeline!</h1>
        <hr>
        <div style="margin-top: 1% ; margin-left: 15% ; margin-right: 15% ;  padding-left: 10px;">
        
            <h3 style=" text-shadow: 2px 2px rgb(196, 190, 190);color: rgb(41, 133, 133) ; font-size: 24; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                This project is to showcase the our automation skills! We choose to do this by showing integration between Docker, Jenkins, and our new technology: Terraform! 
                We are able to monitor any changes with Jenkins with webhooks, use Docker to build the website application, and use Terraform to deploy the updated app.
                
            </h3>
            <h2 style="text-shadow: 2px 2px rgb(196, 190, 190);color: rgb(41, 133, 133) ; font-size: 48; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                The Problem:
            </h2>
            <h3 style="text-shadow: 2px 2px rgb(196, 190, 190);color: rgb(41, 133, 133) ; font-size: 24; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                Manual deployments of webapplications can be slow and inconsistent to deploy. 
                You'd need to manually rebuild the Docker container and redeploy each time to see the code changes you made. 
            </h3>
            <h2 style="text-shadow: 2px 2px rgb(196, 190, 190);color: rgb(41, 133, 133) ; font-size: 48; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                The Solution:
            </h2>
            <h3 style="text-shadow: 2px 2px rgb(196, 190, 190);color: rgb(41, 133, 133) ; font-size: 24; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                Use Jenkins to automatically remake the Docker image and Terraform build and redeploy the Docker container it for you! 
                If it's approved on github then the code automatically goes live on the webpage, with Jenkins monitoring the changes! 
            </h3>
            <h4>This is something easy to change to show proof!</h4>
            
        </div>
        <div style="margin-top: 1%; margin-left: 10%; margin-right: 10%; padding-left: 10px;">
            <table style="margin-left: auto; margin-right: auto;">
                <tr style="text-align: center; ">
                    <td><img  style="max-width: 50%; height: auto; " src="https://imgs.search.brave.com/egI2VrkAPRuKmg5HD5T0xP24qP99iyO-mRp50cw6FKw/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly91eHdp/bmcuY29tL3dwLWNv/bnRlbnQvdGhlbWVz/L3V4d2luZy9kb3du/bG9hZC9icmFuZHMt/YW5kLXNvY2lhbC1t/ZWRpYS9kb2NrZXIt/aWNvbi5wbmc"> </td>
                    <td> <img style="max-width: 90%; height: auto; " src="https://imgs.search.brave.com/pKZEvgmGyShU3bGrO9-LhW-b4P_WBt3BvG8rDBisKKY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zdHls/ZXMucmVkZGl0bWVk/aWEuY29tL3Q1XzJz/cndwL3N0eWxlcy9j/b21tdW5pdHlJY29u/X281N2l1bXk4eXVk/NTEucG5n"></td>
                    <td><img style="max-width: 50%; height: auto; " src="https://imgs.search.brave.com/9hUvvhl1AHZTl4zXozJM2BG19ftKLmE-SElyncYKsp4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMuaWNvbi1pY29u/cy5jb20vMjEwNy9Q/TkcvNTEyL2ZpbGVf/dHlwZV90ZXJyYWZv/cm1faWNvbl8xMzAx/MjUucG5n"></td>
                </tr>

            </table>
        </div>
    </body>
    <footer>
        <hr>
        <h6 style="color:grey">This page is brought to you by Anthony Rivera and Cam Clendenon. This page is for academic use only.</h6>
    </footer>
</html>
